.nav-container {
  position: fixed;
  top: 0.5%;
  left: 0%;
  width: 99%;
  padding: 5px;
  display: flex;
  z-index: 2005;
}

.glass-nav, .nav {
  position: relative;
  width: 100%;
  height: 45px;
  padding: 5px 15px 5px 15px;
  display: flex;
}

.glass-nav > img.logo-right, .nav > img.logo-right {
  position: absolute;
  top: -2.5%;
  left: 92.5%;
  max-width: 55px;
  height: auto;
}

.glass-nav {
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  border-radius: 5px;
}

.glass-nav:after {
  content: "";
  position: absolute;
  z-index: -100;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  filter: blur(5px);
}

.gm-button > img.gm-btn-icon, .gm-menubutton > img.gm-btn-icon {
  position: absolute;
  max-width: 32px;
  height: auto;
  top: 3.25%;
  left: 7.35%;
}

.gm-button.gm-icon-btn {
  padding-left: 35px;
}

.gm-button, .gm-menubutton {
  position: relative;
  font-variant: small-caps;
  text-decoration: none;
  color: inherit;
  letter-spacing: 3px;
  width: auto;
  min-width: 175px;
  max-width: 235px;
  text-align: center;
  margin: 3px;
  padding: 10px 10px 10px 14px;
  border-radius: 3px;
  border-color: rgba(35, 35, 35, 0.2);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 1.375s;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.gm-button:hover, .gm-menubutton:hover, .gm-button.active {
  color: rgb(35, 105, 215);
  background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
  border-color: rgba(135, 135, 135, 0.3);
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.3);
  letter-spacing: 5px;
  transition: 0.375s;
}

.gm-button::after {
  content: "";
  position: absolute;
  top: 107.5%;
  left: 50%;
  border-width: 2px 0px 0px 0px;
  width: 0%;
  border-style: solid;
  border-color: white;
  opacity: 0;
  transition: all 1.375s;
}

.gm-button:hover:after, .gm-button.active::after {
  position: absolute;
  top: 107.5%;
  left: 2.5%;
  width: 95.5%;
  opacity: 0.3;
  transition: all 0.475s;
}

.gm-button.active, .gm-button:active {
  color: rgb(65, 175, 195);
}

.gm-button:active {
  border-color: rgba(0, 135, 235, 0.2);
  border-radius: 5px;
  transition: 0.475s;
}

.gm-menubutton {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
  color: rgb(15, 135, 215);
  padding-right: 25px;
  min-width: 195px;
}

.gm-menubutton:hover {
  color: rgb(35, 175, 175);
}

.gm-menubutton::after {
  content: "|||";
  color: black;
  position: absolute;
  top: 23.5%;
  left: 87.5%;
  letter-spacing: 1px;
  transform: rotate(90deg);
  transition: 0.735s;
}

.gm-menubutton:hover:after {
  letter-spacing: 3px;
  transform: rotate(360deg);
  color: rgb(35, 135, 235);
  transition: 0.735s;
}

.gm-menubutton:hover {
  background-color: rgba(255, 255, 255, 0.7);
  border-color: rgba(135, 135, 135, 0);
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  min-width: 195px;
}

.gm-menubutton > * > * {
  color: rgb(35, 35, 35);
  margin: 10px 5px 10px 5px;
  opacity: 0;
  transition: all 0.135s;
}

.gm-menubutton:hover > * > * {
  opacity: 1;
  transition: all 0.375s;
}

.gm-menubutton > .gm-menu {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 72.5%;
  left: 0%;
  height: 0px;
  width: 100%;
  padding: 0px 0px 7.5px 0px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 1));
  box-shadow: 5px 5px -5px rgba(0, 0, 0, 0.3);
  transition: 0.375s;
}

.gm-menubutton:hover > .gm-menu {
  position: absolute;
  visibility: visible;
  top: 101.5%;
  left: -0.5%;
  opacity: 1;
  width: 101%;
  height: auto;
  min-height: 100%;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  transition: 0.475s;
}

.gm-menubutton > .gm-menu::after {
  content: "";
  position: absolute;
  visibility: visible;
  top: 97.5%;
  left: 50%;
  opacity: 1;
  width: 0%;
  border-style: solid;
  border-width: 2px 0px 0px 0px;
  border-color: rgba(35, 135, 235, 0);
  transition: 0.475s;
}

.gm-menubutton:hover > .gm-menu::after {
  position: absolute;
  visibility: visible;
  top: 93.5%;
  left: 12.5%;
  opacity: 1;
  width: 73.5%;
  border-color: rgba(35, 135, 235, 0.1);
  transition: 0.475s;
}

/*Panels*/
.gm-panel {
  position: relative;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
  border-color: rgba(255, 255, 255, 0.3);
  border-style: solid;
  border-width: 1px;
  padding: 35px;
  margin: 35px;
  line-height: 1.5em;
}

.gm-panel::after {
  content: '';
  position: absolute;
  top: 5%;
  left: 1.5%;
  filter: blur(15px);
  width: 97.5%;
  height: 90%;
  z-index: -1;
}

/*Panels*/
.gm-panel > [class*="gm-panel"] {
  margin: 5px;
}

.gm-panel-1 {
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(235, 235, 235, 0.3);
}

.gm-panel-1::after {
  background-color: rgba(255, 255, 255, 0.1);
}

.gm-panel-3 {
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(235, 235, 235, 0.3);
}

.gm-panel-3::after {
  background-color: rgba(255, 255, 255, 0.1);
}

.gm-panel-5 {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(235, 235, 235, 0.3);
}

.gm-panel-5::after {
  background-color: rgba(255, 255, 255, 0.5);
}

.gm-panel-7 {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(235, 235, 235, 0.5);
}

.gm-panel-7::after {
  background-color: rgba(255, 255, 255, 0.7);
}

.gm-dark-panel-1 {
  color: white;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  background-color: rgba(15, 15, 15, 0.1);
  border-color: rgba(255, 255, 255, 0.4);
}

.gm-dark-panel-1::after {
  background-color: rgba(15, 15, 15, 0.1);
}

.gm-dark-panel-3 {
  color: white;
  background-color: rgba(15, 15, 15, 0.3);
  border-color: rgba(255, 255, 255, 0.3);
}

.gm-dark-panel-3::after {
  background-color: rgba(15, 15, 15, 0.3);
}

.gm-dark-panel-5 {
  color: white;
  background-color: rgba(15, 15, 15, 0.5);
  border-color: rgba(255, 255, 255, 0.4);
}

.gm-dark-panel-5::after {
  background-color: rgba(15, 15, 15, 0.5);
}

.gm-dark-panel-7 {
  color: white;
  background-color: rgba(15, 15, 15, 0.7);
  border-color: rgba(255, 255, 255, 0.3);
}

.gm-dark-panel-7::after {
  background-color: rgba(15, 15, 15, 0.1);
}

.gm-dull-panel-1 {
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  background-color: rgba(135, 135, 135, 0.1);
  border-color: rgba(235, 235, 235, 0.5);
}

.gm-dull-panel-1::after {
  background-color: rgba(135, 135, 135, 0.1);
}

.gm-dull-panel-3 {
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  background-color: rgba(135, 135, 135, 0.3);
  border-color: rgba(235, 235, 235, 0.4);
}

.gm-dull-panel-3::after {
  background-color: rgba(135, 135, 135, 0.3);
}

.gm-dull-panel-5 {
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  background-color: rgba(135, 135, 135, 0.5);
  border-color: rgba(235, 235, 235, 0.5);
}

.gm-dull-panel-5::after {
  background-color: rgba(135, 135, 135, 0.5);
}

.gm-dull-panel-7 {
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  background-color: rgba(135, 135, 135, 0.7);
  border-color: rgba(235, 235, 235, 0.5);
}

.gm-dull-panel-7::after {
  background-color: rgba(135, 135, 135, 0.7);
}

.gm-dim-panel-1 {
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  background-color: rgba(105, 105, 105, 0.1);
  border-color: rgba(255, 255, 255, 0.4);
}

.gm-dim-panel-1::after {
  background-color: rgba(105, 105, 105, 0.1);
}

.gm-dim-panel-3 {
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  background-color: rgba(105, 105, 105, 0.3);
  border-color: rgba(255, 255, 255, 0.3);
}

.gm-dim-panel-3::after {
  position: absolute;
  background-color: rgba(105, 105, 105, 0.5);
  top: 5%;
  left: 5%;
  filter: blur(5px);
  width: 90%;
  height: 90%;
}

.gm-dim-panel-5 {
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  background-color: rgba(105, 105, 105, 0.5);
  border-color: rgba(255, 255, 255, 0.4);
}

.gm-dim-panel-5::after {
  content: "";
  z-index: -1;
  position: absolute;
  background-color: rgba(105, 105, 105, 0.3);
  top: 2.5%;
  left: 2.5%;
  filter: blur(15px);
  width: 95%;
  height: 95%;
}

.gm-dim-panel-7 {
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  background-color: rgba(105, 105, 105, 0.7);
  border-color: rgba(235, 235, 235, 0.5);
}

.gm-dim-panel-7::after {
  content: "";
  z-index: -1;
  position: absolute;
  background-color: rgba(105, 105, 105, 0.1);
  top: 2.5%;
  left: 2.5%;
  filter: blur(15px);
  width: 95%;
  height: 95%;
}

/*Headers*/
.gm-header {
  text-shadow: none;
  font-variant: small-caps;
  font-size: 135%;
  letter-spacing: 5px;
  padding: 15px 35px 15px 35px;
  margin: 15px;
  text-align: center;
  border-radius: 8px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1));
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
  color: rgb(35, 35, 35);
}

.gm-header-dull {
  color: white;
  background-image: linear-gradient(rgba(135, 135, 135, 0.8), rgba(105, 105, 105, 1));
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
}

.gm-header-dim {
  color: white;
  background-image: linear-gradient(rgba(105, 105, 105, 0.8), rgba(75, 75, 75, 1));
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
}

.gm-header-dark {
  color: white;
  background-image: linear-gradient(rgba(75, 75, 75, 0.8), rgba(45, 45, 45, 1));
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
}

.gm-header-left {
  float: left;
}

.gm-header-right {
  float: right;
}

/*Cards*/
.gm-card-rim, .gm-card {
  max-width: 215px;
  min-height: 235px;
}

.gm-card-rim {
  margin: 35px;
  padding: 3px;
  border-style: solid;
  border-width: 1px;
  background-color: rgba(235, 235, 235, 0.2);
  border-color: rgba(235, 235, 235, 0.3);
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
}

.gm-card-rim > .gm-card {
  margin: 0%;
  max-width: 100%;
  min-height: 235px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0) !important;
}

.gm-card {
  color: rgb(35, 35, 35);
  text-shadow: none;
  margin: 40px;
  min-height: 235px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.7));
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  transition: 1.375s;
}

.gm-card:hover {
  background-color: white;
  transition: 0.715s;
}

.gm-card-inner {
  padding: 35px;
}

/*Images*/
[class*=gm-avatar] {
  margin: 5px;
}

.gm-avatar {
  border-radius: 100%;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
}

.gm-avatar-sq {
  border-radius: 7.35%;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
}

.gm-avatar-key {
  border-radius: 75% 75% 7.35% 7.35%;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
}

.gm-avatar-key-down {
  border-radius: 7.35% 7.35% 100% 100%;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
}

.gm-avatar-tri-left {
  border-radius: 7.35% 100% 7.35% 7.35%;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
}

.gm-avatar-tri-right {
  border-radius: 100% 7.35% 7.35% 7.35%;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
}

.gm-avatar-tri-right-up {
  border-radius: 7.35% 7.35% 7.35% 100%;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
}

.gm-avatar-tri-left-up {
  border-radius: 7.35% 7.35% 100% 7.35%;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);;
}

.gm-avatar-eye-left {
  border-radius: 7.35% 100% 7.35% 100%;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
}

.gm-avatar-eye-right {
  border-radius: 100% 7.35% 100% 7.35%;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
}

.gm-avatar-rm-left {
  border-radius: 7.35% 35% 7.35% 35%;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
}

.gm-avatar-rm-right {
  border-radius: 35% 7.35% 35% 7.35%;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
}

/*Helper classes*/
.gm-25p {
  width: 25%;
  max-width: 25%;
}

.gm-35p {
  width: 35%;
  max-width: 35%;
}

.gm-45p {
  width: 45%;
  max-width: 45%;
}

.gm-full {
  width: 100%;
}

.gm-spacer-full {
  width: 100%;
  height: 50px;
}

.gm-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gm-flip:hover {
  transform: rotateY(360deg);
  transition: all 1.735s;
}

@media only screen and (max-width: 768px) {
  [class*=gm-avatar] {
    margin: 15px;
  }

  [class*=gm-3], [class*=gm-4], [class*=gm-5], [class*=gm-6] {
    min-width: 100%;
  }

  [class*=gm-header] {
    float: none;
  }

  .glass-nav, .nav {
    flex-wrap: wrap;
    height: auto;
  }

  .gm-flex {
    flex-direction: column;
  }

  .glass-nav > img.logo-right, .nav > img.logo-right {
    position: absolute;
    top: -2.5%;
    left: 92.5%;
    max-width: 55px;
    height: auto;
  }
}
