.glass-nav, .nav {
  height: 45px;
  padding: 5px 15px 5px 15px;
  margin: 25px 15px 5px 15px;
  display: flex;
}

.glass-nav {
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  border-radius: 3px;
}

.gm-button, .gm-menubutton {
  position: relative;
  font-variant: small-caps;
  letter-spacing: 3px;
  width: auto;
  min-width: 175px;
  max-width: 235px;
  text-align: center;
  margin: 3px;
  padding: 10px 10px 10px 14px;
  border-radius: 3px;
  border-color: rgba(35, 35, 35, 0.2);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.gm-button:hover, .gm-menubutton:hover {
  background-color: rgba(255, 255, 255, 0.8);
  border-color: rgba(135, 135, 135, 0.3);
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.3);
  letter-spacing: 5px;
  transition: 0.375s;
}

.gm-button::after, .gm-menubutton::after {
  content: "";
  position: absolute;
  top: 107.5%;
  left: 50%;
  border-width: 2px 0px 0px 0px;
  width: 0%;
  border-style: solid;
  border-color: white;
  opacity: 0;
  transition: all 1s;
}

.gm-button:hover:after, .gm-menubutton:hover:after {
  position: absolute;
  top: 107.5%;
  left: 2.5%;
  width: 95.5%;
  opacity: 0.3;
  transition: all 0.475s;
}

.gm-menubutton {
  min-width: 195px;
}

.gm-menubutton > .gm-menu {
  position: absolute;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-color: rgba(135, 135, 135, 0.3);
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.3);
  transition: 0.375s;
  padding: 3px;
}

.gm-menubutton:hover > .gm-menu {
  position: absolute;
  top: 105%;
  opacity: 1;
  height: auto;
  background-color: rgba(255, 255, 255, 0.7);
  border-color: rgba(135, 135, 135, 0.3);
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.3);
  transition: 0.375s;
  padding: 3px;
}
