body {
  font-family: Lato;
  font-weight: medium;
  color: rgb(45, 45, 45);
  background-image: url(bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
